.App {
  text-align: center;
  min-width: 300px;
}

.App-logo {
  height: 20vmin;
  width: 100%;
}
.App-header {
  background-color: #3c3f49;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 3vh;
  justify-content: center;
background-color: #565557;
}

.App-footer p{
  margin: 0;
  margin-left:1em;
}

.App-link {
  color: #61dafb
}

.Landing {
  background-image: url('./Resources/Images/onphone.jpeg');
  background-size: cover;
}

.Landing .trans-background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Landing .trans-background img{
  display: flex;
  max-width: 100vw;
  margin: 0 0 1em 0;
}

.Ticket {
  background-image: url('./Resources/Images/pexels-photo-461082.jpeg');
  background-size: cover;
}

.ThankYou {
  background-image: url('./Resources/Images/thankyouimage.jpeg');
  background-size: cover;
}

.CheckIn {
  background-image: url('./Resources/Images/formimage.jpeg');
  background-size: cover;
}

.CheckIn .form .tos {
  color:#4183c4;
}

.CheckIn .form .tos:hover {
  color: #346597
}

.trans-background {
  background-color: rgba(48, 46, 46, 0.3);
  padding: 0 2em 1em 2em;
  border-radius: 1rem;
}

.Landing-KioskTOS {
  font-size: 12px;
  position:fixed;
  bottom:0;
}

.customer-form {
  display: flex;
}

.customer-form form .input {
  display:flex;
  flex-direction: column;
  padding-top: 1em;
  text-align: left;
}

.customer-form form .radio {
  margin-top: 1em;
}

.customers-list {
  margin-bottom:1em;
}

.customers-list p {
  margin:0;
  padding:0;
}

.signature {
border: 2px solid rgb(248, 248, 248);
max-width: 95vw;
max-height: 20vh;

}

.TOS-sign {
  background-color: yellow;
}

.tos-modal canvas {
  width:100%
}