.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  display: flex;
}

.App-header {
  background-color: #3c3f49;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb
}

.Landing img {
  display: flex;
  max-width: 100vw;
  margin: 0 1em 1em 1em;
}

.customer-form {
  display: flex;
}

.customer-form form .input {
  display:flex;
  flex-direction: column;
  padding-top: 1em;
  text-align: left;
}

.customer-form form .radio {
  margin-top: 1em;
}

.customers-list {
  margin-bottom:1em;
}

.customers-list p {
  margin:0;
  padding:0;
}

.signature {
border: 2px solid rgb(248, 248, 248);
max-width: 95vw;
max-height: 20vh;

}

.TOS-sign {
  background-color: yellow;
}

.tos-modal canvas {
  width:100%
}