/* App-wide styles */
* {
  margin:0;
}

body {
  background: #3c3f49!important;
}

.App {
  text-align: center;
  min-width: 250px;
}

.App-header {
  background-color: #3c3f49;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  display: flex;
  width:100%;
  margin:0;
}

/* Styles for Landing.jsx */
.Landing {
  background-image: url('./Resources/Images/onphone.jpeg');
  background-size: cover;
}

.Landing .trans-background {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Landing .AppTOS {
  font-size: 12px;
  justify-self: flex-end;
}


/* Styles for Ticket.jsx */
.Ticket {
  background-image: url('./Resources/Images/pexels-photo-461082.jpeg');
  background-size: cover;
}


/* Styles for ThankYou.jsx */
.ThankYou {
  background-image: url('./Resources/Images/thankyouimage.jpeg');
  background-size: cover;
}


/* Styles for CheckIn.jsx */
.CheckIn {
  background-image: url('./Resources/Images/formimage.jpeg');
  background-size: cover;
}

.CheckIn .form .tos {
  color:#4183c4;
}

.CheckIn .form .tos:hover {
  color: #346597
}

.CheckIn .customer-form {
  display: flex;
}

.CheckIn .customer-form form .input {
  display:flex;
  flex-direction: column;
  padding-top: 1em;
  text-align: left;
}

.CheckIn .customer-form form .radio {
  margin-top: 1em;
}


/* Begin Customers.jsx Styles */
.Customers-list {
  margin-bottom:1em;
}

.Customers-list li {
  margin-bottom: 1em;
}

.Customers-list p {
  margin:0;
  padding:0;
}


/* Begin Alert Styles */
.Alert {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 33vw;
  max-height: 20vh;
  background: #3c3f49;
  padding:1em;
  border-radius: 1em;
  opacity: 0;
  position: fixed;
  top:-20vh;
  z-index: 1;
}

/* Begin TOS.jsx Styles */
.TOS-sign {
  background-color: yellow;
}

.TOS-modal canvas {
  width:100%
}

.TOS-modal .signature {
  border: 2px solid rgb(248, 248, 248);
  max-width: 95vw;
  max-height: 20vh;
  }

/* General Styles */
.trans-background {
  background-color: rgba(48, 46, 46, 0.3);
  margin: 0.5em;
  border-radius: 1rem;
  padding:0.5em;
}

/* Begin transitions */

/* Alert Transitions */
/* .Alert-appear {
  opacity: 0;
  top:-20vh

}

.Alert-appear.Alert-appear-active{
  opacity: 1;
  top:10vh;
  transition: all 500ms;
} */

.Alert-enter {
 opacity: 0;
 transform: scale(0.7);
}

.Alert-enter.Alert-enter-active {
top:10vh;
opacity: 1;
transform: scale(1.0);
background:red;
transition: all 500ms;
}

.Alert-exit {
  top:10vh;
  opacity: 1;
}

.Alert-exit.Alert-exit-active {
  top:-20vh;
  opacity: 0;
  transition: all 1000ms;
}


/* Route transition */
.route-transition-enter {
  width:100vw;
  position: fixed;
  top:0;
  left:100vw;
  transform: scale(0.8);
}

.route-transition-enter.route-transition-enter-active {
  position:fixed;
  top:0;
  left:0;
  transform: scale(1.0);
  transition: all 300ms ease-in;
}

.route-transition-exit {
  width:100vw;
  position: fixed;
  transform: scale(1.0);
  top:0;
  left:0;
}

.route-transition-exit.route-transition-exit-active {
  position: fixed;
  top:0;
  left:-100vw;
  transform: scale(0.8);
  transition: all 300ms ease-in;
}